<p-card class="shadow-lg">
  <ng-template pTemplate="header">
    <h2 class="text-xl font-bold text-gray-800">Clientes</h2>
  </ng-template>

  <!-- Tabla de clientes -->
  <p-table
    [value]="clientes"
    [paginator]="true"
    [rows]="5"
    [loading]="loading"
    [responsiveLayout]="'scroll'"
    class="mt-4"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>ID Cliente</th>
        <th>Nombre Completo</th>
        <th>Email</th>
        <th>Estado</th>
        <th>Fecha de Registro</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente>
      <tr>
        <td>{{ cliente.idCliente }}</td>
        <td>
          {{ cliente.nombres && cliente.apellidos ? (cliente.nombres + ' ' + cliente.apellidos) : 'Usuario Sin Nombre' }}
        </td>
        <td>{{ cliente.usuarioCliente?.email || 'N/A' }}</td>
        <td>{{ cliente.usuarioCliente?.estado ? 'Activo' : 'Inactivo' }}</td>
        <td>{{ cliente.usuarioCliente?.fechaRegistro | date: 'dd/MM/yyyy' }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5" class="text-center">No hay clientes disponibles.</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
